:root {
    --font: 'Abril Fatface', cursive;
    --font-weight-thicker: 900;
    --line-height: 1.4rem;
    --font-thick: 400;
    --black-clr: #000000;
    --yellow-clr: #fca311;
    --almost-wine-clr: #fb5607;
    --green-clr: #2ec4b6;
    --blue-clr: #3f37c9;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    font-family: var(--font);
    background-color: #fefae0;
    scroll-behavior: smooth;
}

a {text-decoration: none;}
h4 {font-weight: var(--font-thick);}
p {font-size: .8em;}
li {list-style: none;}

h3 { font-weight: var(--font-weight-thicker);
    font-size: 2em;
}


.wrapper {
    width: 90vw;
    margin-inline: auto;
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 2rem;
}

.card {
    padding: .7rem;
    border: var(--black-clr) 2px solid;
    border-radius: .5em;
    margin-bottom: 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}


.grid-1 > img {
    margin-bottom: .5rem;
}

.grid-1 > h3 {
    margin-bottom: 3rem;
}

.card_name {
    display: flex;
    justify-content: space-between;
    justify-items: center;
}

small {
    font-weight: var(--font-thick);
    font-size: .7em;
}

.btn {
    color: var(--black-clr);
    background-color: var(--yellow-clr);
    border: var(--black-clr) 1px solid;
    padding: .4rem 1rem;
    border-radius: .3em;
    font-weight: var(--font-thick);
    align-items: center;
    align-self: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    font-weight: var(--font-thick);
}

.griddy {
    display: flex;
    justify-items: center;
}

.griddy > img {
    margin-right: .5rem;
}

.sub {
    background-color: var(--almost-wine-clr);
    text-align: center;
    padding-block: 1.5rem;
    color: white;
    line-height: 2.5rem;
}

.sub > p:nth-child(1) {
    text-transform: uppercase;
    font-size: 1em;
}

.sub h3 {
    text-transform: uppercase;
    margin-block: .7rem;
    font-size: 50px;
}

 .fa-check {
     margin-right: 1rem;
 }

 .love-btn {
    width: 100%;
    background-color: var(--black-clr);
    font-weight: var(--font-thick);
    color: white;
    border-radius: .3em;
    border: none;
    padding: .2rem 1rem;
    margin-top: 2rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    display: block;
 }

 .noti {
     width: 200px;
     background-color: var(--yellow-clr);
     line-height: var(--line-height);
     font-weight: var(--font-thick);
 }

 .single-noti {
     width: 180px;
     background-color: var(--yellow-clr);
     font-weight: var(--font-thick);
 }

 .happiness {
     background-color: var(--almost-wine-clr);
     border: var(--black-clr) 2px solid;
     color: white;
 }

 .happiness h3 {
     margin-bottom: .5rem;
 }

 .happiness p {
     line-height: var(--line-height);
     margin-bottom: .5rem;
 }

 .toggle {
     display: none;
 }

 label {
    margin-top: 1rem;
    position: relative;
    display: flex;
     max-width: 3rem;
     border-radius: 2em;
     outline: none;
 }

 .toggle + label::before {
     content: '';
     width: 3rem;
     height: 1.8em;
     border-radius: 2em;
     background-color: var(--yellow-clr);
     transition: 45s;
 }

 .toggle + label::after {
    content: '';
    position: absolute;
    width: 1.4rem;
    height: .8em;
    border-radius: 50;
    border-top-left-radius: 1.1em;
    border-top-right-radius: 1.1em;
    top: .35em;
    transform: rotateZ(-55deg);
    background-color: var(--black-clr);
 }

 /*.toggle:checked + label::before {
     background: white;
 }*/

 .toggle:checked + label::after {
     background-color: var(--black-clr);
 }

 .toggle:checked + label::after {
     left: 1.62em;
     transform: rotateZ(55deg);
 }

 /*-----------------*/
 .happy {
    border: var(--black-clr) 2px solid;
    color: var(--black-clr);
}

.happy h3 {
    margin-bottom: .5rem;
}

.happy p {
    line-height: var(--line-height);
    margin-bottom: .5rem;
}

 .togg {
    display: none;
}

.togg + .lab::before {
    content: '';
    width: 2.7rem;
    height: .5em;
    border-radius: 2em;
    background-color: var(--black-clr);
    transition: 45s;
    /* display: flex; */
}

.togg + .lab::after {
   content: '';
   position: absolute;
   width: 1.2rem;
   height: 1.2em;
   border-radius: 50;
   border-radius: 1em;
   top: -.35rem;
   left: .3em;
   transform: rotateZ(-55deg);
   background-color: var(--yellow-clr);
   transform: 45s;
}

.togg:checked + .lab::after {
    left: 1.2em;
    transform: rotateZ(55deg);
}
  /*-----------------*/

 .head-tit-div {
     display: flex;
     justify-content: space-between;
     line-height: var(--line-height);
 }

 .monthly {
     background: var(--yellow-clr);
     line-height: 2rem;
     text-align: center;
 }

 .femi {
     display: flex;
     align-items: center;
 }

 .femi > img {
     margin-right: .5rem;
 }

 .blush {
     background-color: var(--green-clr);
     border-radius: .7rem;
     margin-block: 1rem;
 }

 .action {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-top: 1.5rem;
 }

 .last-act {
     justify-self: right;
 }

 .comm-like {
     display: flex;
     align-items: center;
 }

 .comm-like .sma {
     margin-right: 1rem;
 }


 .css-button-3d--black {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background: #343a40;
    box-shadow: 0 5px #212529;
  }
  .css-button-3d--black:hover {
    box-shadow: 0 3px #212529;
    top: 1px;
  }
  .css-button-3d--black:active {
    box-shadow: 0 0 #212529;
    top: 5px;
  }                    

