:root {
    --font: 'Varela Round', sans-serif;
    --font-weight-thicker: 900;
    --font-thick: 600;
    --black-clr: #000000;
    --yellow-clr: #fca311;
    --almost-wine-clr: #fb5607;
    --green-clr: #2ec4b6;
    --blue-clr: #3f37c9;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    font-family: var(--font);
    background-color: #fefae0;
}

h3 {
    font-weight: var(--font-weight-thicker);
    font-size: 2em;
}
h4 {
    font-weight: var(--font-thick);
}

.wrapper {
    width: 90vw;
    margin-inline: auto;
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 2rem;
}

.card {
    padding: .7rem;
    border: var(--black-clr) 2px solid;
    border-radius: .5em;
    margin-bottom: 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}


.grid-1 > img {
    margin-bottom: .5rem;
}

.grid-1 > h3 {
    margin-bottom: 3rem;
}

.card_name {
    display: flex;
    justify-content: space-between;
    justify-items: center;
}

small {
    font-weight: var(--font-thick);
    font-size: .7em;
}

.btn {
    background-color: var(--yellow-clr);
    font-weight: var(--font-thick);
    border-radius: .3em;
    border: none;
    padding: .3rem 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.griddy {
    display: flex;
    justify-items: center;
}

.griddy > img {
    margin-right: .5rem;
}

.sub {
    background-color: var(--almost-wine-clr);
    text-align: center;
    padding-block: 1.5rem;
    color: white;
    line-height: 2.5rem;
}

.sub > p:nth-child(1) {
    text-transform: uppercase;
    font-size: 1em;
}

.sub h3 {
    text-transform: uppercase;
    margin-block: .7rem;
    font-size: 50px;
}

/*sub-type::before {
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
 }*/

 .fa-check {
     margin-right: 1rem;
 }

 .love-btn {
    width: 100%;
    background-color: var(--black-clr);
    font-weight: var(--font-thick);
    color: white;
    border-radius: .3em;
    border: none;
    padding: .7rem 1rem;
    margin-top: 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
 }

 .noti {
     width: 200px;
     background-color: var(--yellow-clr);
     line-height: 1.3rem;
     font-weight: var(--font-thick);
 }

 .single-noti {
     width: 180px;
     background-color: var(--yellow-clr);
     font-weight: var(--font-thick);
 }

